<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Change Ticket Status</h1>
  <div class="form-group">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label> Update status</mat-label>
      <mat-select
        formControlName="status"
        (openedChange)="onChangeStatus($event)"
      >
        <mat-option
          *ngIf="data.user.id === data.ticket.creator.id || data.user.is_staff"
          [value]="'OP'"
          >OPEN</mat-option
        >
        <mat-option *ngIf="checkReceiver() || data.user.is_staff" [value]="'PE'"
          >IN PENDING</mat-option
        >
        <mat-option *ngIf="checkReceiver() || data.user.is_staff" [value]="'RE'"
          >RESOLVED</mat-option
        >
        <mat-option
          *ngIf="data.user.id === data.ticket.creator.id || data.user.is_staff"
          [value]="'CL'"
          >CLOSED</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.controls.status.hasError('required')">
        Topic description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <br />
  <div class="button-group text-center">
    <button
      type="submit"
      class="btn btn-outline-success m-2"
      mat-raised-button
      [disabled]="form.invalid"
    >
      Update
    </button>
    <button
      type="button"
      class="btn btn-outline-danger m-2"
      mat-raised-button
      (click)="onNoClick()"
    >
      Cancel
    </button>
  </div>
</form>
