<div class="container" id="dashboard-container">
  <div class="row">
    <div class="col">
      <h3 id="title">Your Tickets</h3>
      <button
        type="button"
        class="btn btn-outline-primary"
        routerLink="../.."
        id="back"
      >
        Go Back
      </button>
    </div>
  </div>
  <br />
  <div id="tickets">
    <div class="row card-group">
      <div class="col-4" *ngFor="let ticket of tickets">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ ticket.title }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Content: {{ ticket.content }}</p>
            <a [routerLink]="['tickets/' + ticket.id]" class="btn btn-primary"
              >Detail</a
            >
          </div>
          <div class="card-footer">
            Creator: {{ ticket.creator["username"] }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
