<form [formGroup]="form">
  <h1>Create new Group</h1>
  <div class="form-group">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>New Group Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </div>
  <br />
  <div class="button-group text-center">
    <button
      type="button"
      class="btn btn-outline-success me-2"
      mat-raised-button
      (click)="create()"
    >
      Create Group
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      mat-raised-button
      (click)="onNoClick()"
    >
      Cancel
    </button>
  </div>
</form>
