#dashboard {
  min-height: 90vh;
  margin: 1rem;
  padding: 2rem;
  border-style: ridge;
  background-color: ghostwhite;
  box-shadow: 0 0 5px 0 black;

  #dashboard-tickets {
    .card:hover {
      filter: brightness(85%);
    }
  }
}
