#home {
  height: 92vh;
  padding: 0;
  margin: 0;
  color: white;
  background-image: url("../../assets/images/background.jpg") !important;
  background-size: cover;
  background: rgba(0, 0, 0, 0.466);
}
#home-content {
  text-align: center;
  padding-top: 20%;
}
