#topics {
  .card-group {
    .col {
      margin-left: 0;
    }
    margin-bottom: 7rem;
    padding: 2rem;
    border-style: ridge;
    background-color: ghostwhite;
    box-shadow: 0 0 5px 0 black;
    #topics {
      margin: 0.5rem;
      height: 14rem;
      .card-header {
        cursor: pointer;
      }
    }
  }
}
