#navbar {
  background-color: $primary;
  align-items: center;
  box-shadow: 0 0 10px 0 black;
  a {
    color: white;
    text-decoration: none;
  }
  // .fa {
  //   vertical-align: middle;
  //   margin-left: 2rem;
  //   color: white;
  // }
}
