<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="username"
      class="form-control"
      id="username"
      aria-describedby="usernameHelp"
      formControlName="username"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
    />
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
