<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Change Password</h1>
  <div class="form-group">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>New Password</mat-label>
      <input type="password" matInput formControlName="new_password1" />
      <mat-error
        *ngIf="
          form.controls.new_password1.hasError('minlength') &&
          !form.controls.new_password1.hasError('maxlength') &&
          !form.controls.new_password1.hasError('required')
        "
      >
        Please enter a valid new password, <strong>minimum length</strong> is 8
        characters
      </mat-error>
      <mat-error
        *ngIf="
          form.controls.new_password1.hasError('maxlength') &&
          !form.controls.new_password1.hasError('minlength') &&
          !form.controls.new_password1.hasError('required')
        "
      >
        Please enter a valid new password, <strong>maximum length</strong> is 20
        characters.
      </mat-error>
      <mat-error *ngIf="form.controls.new_password1.hasError('required')">
        New password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Confirm your Password</mat-label>
      <input type="password" matInput formControlName="new_password2" />
      <mat-error *ngIf="form.controls.new_password2.hasError('required')">
        Please confirm your password
      </mat-error>
      <mat-error *ngIf="form.controls.new_password2.hasError('mustMatch')">
        Passwords <strong>must match</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <br />
  <div class="button-group text-center">
    <button
      type="submit"
      class="btn btn-outline-success me-2"
      mat-raised-button
      [disabled]="form.invalid"
    >
      Change
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      mat-raised-button
      (click)="onNoClick()"
    >
      Cancel
    </button>
  </div>
</form>
