/* You can add global styles to this file, and also import other style files */

body {
  overflow-x: hidden;
}

:root {
  --primary: #1b278d;
  --secondary: #cbddff;
  --accent: #ff3385;
  --primary-fg: #fff;
}
