<div id="container-registration">
  <div class="container" id="registration">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <br />
          <h1>Get a new account!</h1>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <div class="col">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    formControlName="username"
                  />
                </div>
                <br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-at"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    formControlName="email"
                  />
                </div>
                <br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-key"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                  />
                </div>
                <br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-key"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirm Password"
                    formControlName="password2"
                  />
                </div>
                <br />
              </div>
              <div class="col">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    formControlName="first_name"
                  />
                </div>
                <br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                    formControlName="last_name"
                  />
                </div>
                <br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text icon-groups"
                      ><i class="fas fa-users"></i
                    ></span>
                  </div>
                  <mat-form-field appearance="fill" color="white">
                    <mat-label>Groups</mat-label>
                    <mat-select formControlName="groups" multiple>
                      <mat-option
                        *ngFor="let group of groups"
                        [value]="group"
                        >{{ group.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <br />
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-user-astronaut"></i
                    ></span>
                  </div>
                  <div class="row align-items-center remember">
                    <input type="checkbox" formControlName="is_staff" /> Is
                    Staff
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
