<form [formGroup]="form" (ngSubmit)="create()">
  <h1>Create new Topic</h1>
  <div class="form-group">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>New Topic Name</mat-label>
      <input matInput formControlName="name" />

      <mat-error
        *ngIf="
          form.controls.name.hasError('minlength') &&
          !form.controls.name.hasError('maxlength') &&
          !form.controls.name.hasError('required')
        "
      >
        Please enter a valid topic name, <strong>minimum length</strong> is 2 characters
      </mat-error>
      <mat-error
        *ngIf="
          form.controls.name.hasError('maxlength') &&
          !form.controls.name.hasError('minlength') &&
          !form.controls.name.hasError('required')
        "
      >
        Please enter a valid topic name, <strong>maximum length</strong> is 50 characters.
      </mat-error>
      <mat-error *ngIf="form.controls.name.hasError('required')">
        Topic name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Enter Topic Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error
        *ngIf="
          form.controls.description.hasError('minlength') &&
          !form.controls.description.hasError('maxlength') &&
          !form.controls.description.hasError('required')
        "
      >
        Please enter a valid topic description, <strong>minimum length</strong> is 2 characters
      </mat-error>
      <mat-error
        *ngIf="
          form.controls.description.hasError('maxlength') &&
          !form.controls.description.hasError('minlength') &&
          !form.controls.description.hasError('required')
        "
      >
        Please enter a valid topic description, <strong>maximum length</strong> is 100 characters.
      </mat-error>
      <mat-error *ngIf="form.controls.description.hasError('required')">
        Topic description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <br />
  <div class="button-group text-center">
    <button
      type="submit"
      class="btn btn-outline-success me-2"
      mat-raised-button
      [disabled]="form.invalid"
    >
      Create Topic
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      mat-raised-button
      (click)="onNoClick()"
    >
      Cancel
    </button>
  </div>
</form>
