<div class="container">
  <div class="row">
    <div class="col">
      <h1 *ngIf="data.sub">Do you want to join {{ data.topic.name }}?</h1>
      <h1 *ngIf="!data.sub">
        Do you want to unsubscribe from {{ data.topic.name }}?
      </h1>
      <div class="button-group" style="text-align: center">
        <button
          type="button"
          class="btn btn-outline-primary"
          style="margin: 1rem"
          (click)="submit()"
          *ngIf="data.sub"
        >
          Subscribe
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          style="margin: 1rem"
          (click)="submit()"
          *ngIf="!data.sub"
        >
          Unsubscribe
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="onNoClick()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
