<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>Add Receivers</h1>
  <div class="form-group">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label> Select Receivers</mat-label>
      <mat-select
        formControlName="receiver"
        (openedChange)="onChangeStatus($event)"
      >
        <mat-option *ngFor="let receiver of receivers" [value]="receiver">{{
          receiver.username
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.receiver.hasError('required')">
        Receiver is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <br />
  <div class="button group text-center">
    <button
      type="submit"
      class="btn btn-outline-success m-2"
      mat-raised-button
      [disabled]="form.invalid"
    >
      Add
    </button>
    <button
      type="button"
      class="btn btn-outline-danger m-2"
      mat-raised-button
      (click)="onNoClick()"
    >
      Cancel
    </button>
  </div>
</form>
