<div id="ticket-detail" class="p-lg-4 p-md-2 p-sm-0">
  <div class="container">
    <div class="row">
      <div class="col col-md-8 col-sm-12">
        <mat-card>
          <div class="row">
            <div class="col">
              <h1 class="float-start">
                <em>{{ ticket?.title }}</em>
              </h1>
              <div class="btn-group float-end">
                <button
                  *ngIf="userIsCreator"
                  type="button"
                  class="btn btn-outline-danger me-3"
                  (click)="deleteTicketModal(ticket)"
                >
                  Delete
                </button>
                <button
                  type="button"
                  class="btn btn-outline-primary"
                  routerLink="../.."
                >
                  Back
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="header m-3">
                <span class="d-inline me-3"
                  ><i class="fas fa-angle-double-right"></i
                ></span>
                <h4 class="d-inline">Actions</h4>
              </div>
              <mat-chip-list aria-label="Actions">
                <mat-chip
                  style="cursor: pointer"
                  [disabled]="!userIsReceiver && !userIsCreator"
                  (click)="!userIsReceiver ? null : changeStatusModal()"
                  >Change Status</mat-chip
                >
                <mat-chip
                  style="cursor: pointer"
                  [disabled]="ticket?.status === 'CL' || !userIsCreator"
                  (click)="
                    ticket?.status === 'CL' || !userIsCreator
                      ? null
                      : addReceiverModal()
                  "
                  >Add Receiver</mat-chip
                >
              </mat-chip-list>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="header m-3">
                <span class="d-inline me-3"
                  ><i class="fas fa-align-left"></i
                ></span>
                <h4 class="d-inline">Content Description</h4>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <mat-form-field class="w-100" appearance="fill">
                      <textarea
                        readonly
                        matInput
                        [value]="ticket?.content"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="header m-3">
                <span class="d-inline me-3"
                  ><i class="fas fa-comment-alt"></i
                ></span>
                <h4 class="d-inline">Comments</h4>
              </div>
              <div class="row mb-2" *ngFor="let comment of ticket?.comments">
                <div class="col">
                  <mat-form-field class="w-100" appearance="fill">
                    <span
                      class="position-absolute top-0 end-0"
                      style="cursor: pointer"
                      (click)="deleteCommentModal(comment)"
                      *ngIf="comment.creator.id === user.id"
                      ><i class="far fa-window-close"></i
                    ></span>
                    <mat-label>
                      {{ comment.creator.username }} -
                      {{
                        comment.created_at | date: "M/d/yy, h:mm:ss"
                      }}</mat-label
                    >
                    <input
                      readonly
                      matInput
                      [id]="'comment_' + comment.id"
                      [value]="comment.content"
                    />
                  </mat-form-field>
                </div>
              </div>
              <form [formGroup]="form" (ngSubmit)="onSubmitComment()">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="fill">
                    <textarea
                      matInput
                      rows="2"
                      formControlName="comment"
                      placeholder="Add a new comment"
                    ></textarea>
                    <mat-error
                      *ngIf="
                        form.controls.comment.hasError('minlength') &&
                        !form.controls.comment.hasError('maxlength') &&
                        !form.controls.comment.hasError('required')
                      "
                    >
                      Please enter a valid comment,
                      <strong>minimum length</strong> legth is 2 characters
                    </mat-error>
                    <mat-error
                      *ngIf="
                        form.controls.comment.hasError('maxlength') &&
                        !form.controls.comment.hasError('minlength') &&
                        !form.controls.comment.hasError('required')
                      "
                    >
                      Please enter a valid comment,
                      <strong>maximum length</strong> is 500 characters.
                    </mat-error>
                    <mat-error
                      *ngIf="form.controls.comment.hasError('required')"
                    >
                      comment is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <br />
                <button
                  type="submit"
                  [disabled]="form.invalid"
                  class="btn btn-outline-primary float-end"
                >
                  Save Comment
                </button>
              </form>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col col-md-4 col-sm-12">
        <div class="table-responsive">
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            expanded="true"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Details</mat-panel-title>
            </mat-expansion-panel-header>
            <table class="table">
              <caption>
                Creation date:
                {{
                  ticket?.created_at | date: "fullDate"
                }}
                <br />
                <br />
                Last update:
                {{
                  ticket?.last_updated | date: "fullDate"
                }}
              </caption>
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Creator</td>
                  <td>{{ ticket?.creator?.username }}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>Groups</mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="card">
                        <ul class="list-group list-group-flush">
                          <li
                            class="list-group-item"
                            *ngFor="let group of ticket?.groups"
                            style="cursor: pointer"
                            (click)="navigateGroup(group)"
                          >
                            {{ group.name }}
                          </li>
                        </ul>
                      </div>
                    </mat-expansion-panel>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>Topics</mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="card">
                        <ul class="list-group list-group-flush">
                          <li
                            class="list-group-item"
                            *ngFor="let topic of ticket?.topics"
                          >
                            {{ topic.name }}
                          </li>
                        </ul>
                      </div>
                    </mat-expansion-panel>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <mat-expansion-panel hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>Receivers</mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="card">
                        <ul class="list-group list-group-flush">
                          <li
                            class="list-group-item"
                            *ngFor="let receiver of ticket?.receivers"
                          >
                            {{ receiver.username }}
                          </li>
                        </ul>
                      </div>
                    </mat-expansion-panel>
                  </td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>
                    <p *ngIf="ticket?.status === 'OP'">OPEN</p>
                    <p *ngIf="ticket?.status === 'PE'">IN PENDING</p>
                    <p *ngIf="ticket?.status === 'RE'">RESOLVED</p>
                    <p *ngIf="ticket?.status === 'EX'">EXPIRED</p>
                    <p *ngIf="ticket?.status === 'CL'">CLOSED</p>
                  </td>
                </tr>
                <tr>
                  <td>Last updated by</td>
                  <td>{{ ticket?.last_updated_by?.username }}</td>
                </tr>
                <tr>
                  <td>Expiration</td>
                  <td>
                    {{ ticket?.expiration | date: "fullDate" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>
</div>
