<div class="container" id="dashboard-container">
  <h3>Your Groups</h3>
  <br />
  <div id="dashboard">
    <div class="row card-group">
      <div class="col">
        <div class="card" *ngFor="let group of groups">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" [routerLink]="['groups/' + group.id]">
              {{ group.name }}
            </li>
          </ul>
        </div>
      </div>
      <div>
        <button
          *ngIf="user?.is_superuser"
          type="button"
          class="btn btn-outline-primary float-end"
          mat-raised-button
        >
          Add Group
        </button>
      </div>
    </div>
  </div>
</div>
