<div id="dashboard-container">
  <h1>Welcome {{ user?.username }}</h1>
  <br />
  <div id="dashboard">
    <div class="row card-group">
      <div class="col-6">
        <hr />
        <h3>Your Groups</h3>
        <div class="card" *ngIf="userGroups?.length === 0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              You are not subscribed to any group.
            </li>
          </ul>
        </div>
        <ng-container *ngFor="let group of userGroups">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p
                  class="float-start w-75"
                  style="cursor: pointer"
                  (click)="navigateGroup(group)"
                >
                  {{ group.name }}
                </p>
                <button
                  class="float-end"
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="subscribeGroupModal(false, group)"
                  >
                    <mat-icon>
                      <span style="color: rgb(241, 134, 134)"
                        ><i class="fas fa-user-minus"></i></span
                    ></mat-icon>

                    <a title="Unsubscribe" style="cursor: pointer"
                      ><span>Unsubscribe</span></a
                    >
                  </button>
                  <button
                    mat-menu-item
                    (click)="deleteGroupModal(group)"
                    *ngIf="user.is_superuser"
                  >
                    <mat-icon>
                      <span><i class="fas fa-trash-alt"></i></span></mat-icon
                    ><span>Delete</span>
                  </button>
                </mat-menu>
              </li>
            </ul>
          </div>
        </ng-container>
        <hr />
        <div class="row">
          <div class="col">
            <h3 style="float: left">All Groups</h3>
            <button
              *ngIf="user.is_superuser"
              type="button"
              class="btn btn-outline-primary float-end"
              (click)="createGroupModal()"
            >
              Add Group
            </button>
          </div>
        </div>
        <ng-container *ngFor="let group of allGroups">
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p class="float-start" style="cursor: pointer">
                  {{ group.name }}
                </p>
                <button
                  class="float-end"
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="subscribeGroupModal(true, group)"
                  >
                    <mat-icon>
                      <span style="color: rgb(177, 219, 177)"
                        ><i class="fas fa-user-plus"></i></span
                    ></mat-icon>
                    <a title="Subscribe" style="cursor: pointer"> Subscribe </a>
                  </button>
                  <button
                    mat-menu-item
                    (click)="deleteGroupModal(group)"
                    *ngIf="user.is_superuser"
                  >
                    <mat-icon>
                      <span><i class="fas fa-trash-alt"></i></span></mat-icon
                    ><span>Delete</span>
                  </button>
                </mat-menu>
              </li>
            </ul>
          </div>
        </ng-container>
        <hr />
      </div>
      <div class="col-6">
        <hr />
        <h3>Your Tickets</h3>
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Open">
            <ng-container *ngFor="let ticket of allTickets">
              <div class="card" *ngIf="ticket.status == 'OP'">
                <ul class="list-group list-group-flush">
                  <li
                    class="list-group-item"
                    [routerLink]="['tickets/' + ticket.id]"
                  >
                    <p>{{ ticket.title }}</p>
                    <div class="icons" style="display: inline-block">
                      <span
                        [matTooltip]="ticket.creator.username"
                        style="margin: 0.2rem"
                        ><i class="far fa-user"></i
                      ></span>
                      <span
                        [matTooltip]="ticket.last_updated_by.username"
                        style="margin: 0.2rem"
                        ><i class="fas fa-user-edit"></i
                      ></span>
                      <span
                        [matTooltip]="
                          ticket.created_at ? ticket.created_at : ''
                        "
                        style="margin: 0.2rem; color: green"
                        ><i class="fas fa-calendar"></i
                      ></span>
                      <span
                        [matTooltip]="ticket.expiration"
                        style="margin: 0.2rem; color: red"
                        ><i class="fas fa-calendar-times"></i
                      ></span>
                    </div>
                  </li>
                </ul>
              </div> </ng-container
          ></mat-tab>
          <mat-tab label="In pending">
            <ng-container *ngFor="let ticket of allTickets">
              <div class="col" *ngIf="ticket.status == 'PE'">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">{{ ticket.title }}</h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Content: {{ ticket.content }}</p>
                    <a
                      [routerLink]="['tickets/' + ticket.id]"
                      class="btn btn-primary"
                      >Detail</a
                    >
                  </div>
                  <div class="card-footer">
                    Creator: {{ ticket.creator["username"] }}
                  </div>
                </div>
              </div>
            </ng-container>
          </mat-tab>
          <mat-tab label="Resolved">
            <ng-container *ngFor="let ticket of allTickets">
              <div class="col" *ngIf="ticket.status == 'RE'">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">{{ ticket.title }}</h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Content: {{ ticket.content }}</p>
                    <a
                      [routerLink]="['tickets/' + ticket.id]"
                      class="btn btn-primary"
                      >Detail</a
                    >
                  </div>
                  <div class="card-footer">
                    Creator: {{ ticket.creator["username"] }}
                  </div>
                </div>
              </div>
            </ng-container></mat-tab
          >
          <mat-tab label="Closed">
            <ng-container *ngFor="let ticket of allTickets">
              <div class="col" *ngIf="ticket.status == 'CL'">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">{{ ticket.title }}</h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text">Content: {{ ticket.content }}</p>
                    <a
                      [routerLink]="['tickets/' + ticket.id]"
                      class="btn btn-primary"
                      >Detail</a
                    >
                  </div>
                  <div class="card-footer">
                    Creator: {{ ticket.creator["username"] }}
                  </div>
                </div>
              </div>
            </ng-container></mat-tab
          >
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
